@import './base.css';
html {
    scroll-behavior: smooth;
  }
body {
    width: 100%;
    min-height: 100%;
}
h1{
    font-size: 400%;
    color: #0B090A;
}
p, h3{
    color: #660708;
}
h2{
    font-size: 2em;
    padding-top: 30px;
    text-align: center;
}

ul li{
    list-style-type: none;
}
.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
}
.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #B1A7A6;
}
section{
    padding-top: 100px;
    width: 80%;
    margin: auto;
}
img {
    object-fit: cover;
}
picture {
    position: relative;
}
#work picture img {
    width: 500px;
}
.work-content {
    position: relative;
}
.work-content .v-card {
    width:500px;
    margin-top: 20px;
}
#work h3 {
    font-size: 25px;
}
@media  (min-width: 1025px) {
    section{
        width: 70%;
        margin: auto;
    }
    footer #social-links {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        right: auto;
    }
    footer #social-links::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: #660708;
    }
}
@media (max-width: 959px) {
    section{
        padding: 0 10px;
    }
    .topnav a:not(:last-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {
        position: absolute;
        padding-top: 20px;
        width: 100%;
        z-index: 2;
        background-color: #F5F3F4;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 20px;
      top: 10px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      padding: 10px 0;
    }
    picture {
        margin-top: 20px;
    }
    #work picture img {
        display: flex;
        width: 90%;
        margin: auto;
    }
    #work h3{
        justify-content: center;
    }
    #work .work-content {
        flex-wrap: wrap;
        align-content: space-around;
    }
    .work-content .v-card {
        width: 90%;
        height: auto;
        margin-top: 0px;
    }
    .v-row {
        display: flex;
        flex-direction: column;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    footer #social-links ul{
        display: flex;
    }
    footer #social-links ul li{
        padding: 10px;
    }
}
a,a:visited {
    text-align: center;
    text-decoration: none;
    color: #660708;
}
.topnav a, .topnav a:visited {
    float: left;
    display: block;
    font-size: 17px;
    align-items: center;
    padding: 20px;
}
.topnav .icon {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
}

