@import './base.css';
html {
    scroll-behavior: smooth;
  }
body {
    width: 100%;
    min-height: 100%;
}
h1{
    font-size: 400%;
    color: #0B090A;
}
p, h3{
    color: #660708;
}
h2{
    font-size: 2em;
    padding-top: 30px;
    text-align: center;
}

ul li{
    list-style-type: none;
}
.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
}
.numbered-heading::before {
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #E5383B;
    font-weight: 400;
}
.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #B1A7A6;
}
section{
    padding-top: 100px;
    width: 90%;
    margin: auto;
}
@media  (min-width: 1025px) {
    section{
        width: 70%;
        margin: auto;
    }
}
@media (min-width: 481px) and (max-width: 1024px){

}
@media (max-width: 600px) {
    section{
        padding: 0 10px;
    }
    .topnav a:not(:last-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {
        position: absolute;
        padding-top: 20px;
        width: 100%;
        z-index: 2;
        background-color: #F5F3F4;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 20px;
      top: 10px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      padding: 10px 0;
    }
}
.topnav a, .topnav a:visited {
    float: left;
    display: block;
    color: #660708;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
    padding: 20px;
}
.topnav .icon {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
}

